:root {
    /* Colours */
    --color-text: #343432;
    --color-primary: #3F4833;
    --color-secondary: #3F4833;
    --color-dark: #566246;
    --color-bg: #F3F7F3;

    /* Fonts */
    --font-robot: "Roboto";

}