@import "../../vars.css";

.section {
    background-color: var(--color-bg);
}
.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 55px;
    z-index: 2;
    margin: 0 25%;
    background-color: var(--color-bg);
}

.title {
    font-size: 30px;
    font-weight: 380;
    text-decoration: none;
    color: var(--color-text);
    margin-bottom: 5px;
}

.menu {
    display: flex;
}

.menuDropdown {
    display: none;
}

.menuItems{
    display: flex;
    gap: 50px;
    list-style: none;
}

.menuItems a{
    font-size: 18px;
    color: var(--color-text);
    text-decoration: none;
}

.menuItems a:hover {
    background-color: var(--color-highlight);
}

@media screen and (max-width: 1225px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .menu {
        position: absolute;
        right: 0;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
        /* max-width: 5px;
        max-height: 5px; */
    }

    .menuDropdown {
        display: block;
        cursor: pointer;
        align-items: center;
    }

    .menuItems {
        display: none;
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        border-radius: 48px;
        background: #F3F7F3;
        background: linear-gradient(
            0deg, 
            
        );
        padding: 24px 24px;
}

    .menuItems a {
        font-size: 15px;
        color: var(--color-text);
        text-decoration: none;
    }
    .menuOpen {
        display: flex;
        z-index: 1;
    }
}